img {
  display: block;
  margin: 0 auto;
  width: auto;
}

h1 {
  font-size: xx-large;
  text-align: center;
}

#description {
  text-align: center;
  font-size: large;
}

hr {
  border-top: 2px solid #111;
  border-radius: 6px;
  width: 95%;
}

#foot {
  text-align: center;
}
