body {
  background-color: rgb(186, 210, 231);
  font-family: "Prompt", sans-serif;
}

img {
  display: block;
  margin: 0 auto;
  width: auto;
}

h1 {
  font-family: "Marck Script", cursive;
  font-size: xx-large;
  text-align: center;
}

h2 {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: large;
}

#description {
  text-align: center;
  font-size: large;
}

hr {
  border-top: 2px solid #111;
  border-radius: 6px;
  width: 95%;
}

#Foot {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  grid-gap: 20px;
}
.indgredienser {
  grid-column: 1/2;
  grid-row: 1;
}

.fremgangsmetode {
  grid-column: 2/2;
  grid-row: 1;
}

.container2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
}

.container {
  grid-column: 2/3;
  grid-row: 1;
}
