img {
  display: block;
  margin: 0 auto;
  width: auto;
}

h1 {
  font-size: xx-large;
  text-align: center;
}

#description {
  text-align: center;
  font-size: large;
}

#Frem {
  background-color: rgb(159, 216, 216);
  
}
